.form{
    height: 100vh;
    background-image: url('Background.jpg');
}
.div26{
    background-color: rgba(251, 156, 172, 0);
    height: 220px;
    font-size: 40px;
    text-align: left;
    padding-left: 100px;
    padding-top: 10px;
    margin-top: 20px;
}
.div27{
    height: 230px;
    width: 195px;
    border: none;
    background-image: url('GirlsClothing1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 70px;
    margin-top: -10px;
}
.div28{
    height: 230px;
    width: 195px;
    background-image: url('GirlsClothing2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 230px;
    margin-top: -10px;
}
.div29{
    height: 230px;
    width: 195px;
    background-image: url('GirlsClothing3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 230px;
    margin-top: -10px;
}
.div30{
    height: 230px;
    width: 195px;
    background-image: url('GirlsClothing4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 230px;
    margin-top: -10px;
}
.div31{
    height: 230px;
    width: 195px;
    border: none;
    background-image: url('GirlsClothing5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 70px;
    margin-top: -10px;
}
.div32{
    height: 230px;
    width: 195px;
    background-image: url('GirlsClothing6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 230px;
    margin-top: -10px;
}
.div33{
    height: 230px;
    width: 195px;
    background-image: url('GirlsClothing7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 230px;
    margin-top: -10px;
}
.div34{
    height: 230px;
    width: 195px;
    background-image: url('GirlsClothing8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 230px;
    margin-top: -10px;
}
.h26{
    text-align: left;
    margin-top: 10px;
    padding-left: 205px;
    font-size: 26px;
}
.h27{
    text-align: left;
    margin-top: 10px;
    padding-left: 200px;
    font-size: 26px;
}