.form{
    height: 100vh;
    background-image: url('Background.jpg');
}
.div35{
    background-color: rgba(251, 156, 172, 0);
    height: 220px;
    font-size: 40px;
    text-align: left;
    padding-left: 100px;
    padding-top: 10px;
    margin-top: 20px;
}
.div36{
    height: 230px;
    width: 195px;
    border: none;
    background-image: url('Makeup1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 70px;
    margin-top: -10px;
}
.div37{
    height: 230px;
    width: 195px;
    background-image: url('Makeup2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 230px;
    margin-top: -10px;
}
.div38{
    height: 230px;
    width: 195px;
    background-image: url('Makeup3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 230px;
    margin-top: -10px;
}
.div39{
    height: 230px;
    width: 195px;
    background-image: url('Makeup4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 230px;
    margin-top: -10px;
}
.div40{
    height: 230px;
    width: 195px;
    border: none;
    background-image: url('Makeup5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 70px;
    margin-top: -10px;
}
.div41{
    height: 230px;
    width: 195px;
    background-image: url('Makeup6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 230px;
    margin-top: -10px;
}
.div42{
    height: 230px;
    width: 195px;
    background-image: url('Makeup7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 230px;
    margin-top: -10px;
}
.div43{
    height: 230px;
    width: 195px;
    background-image: url('Makeup8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 230px;
    margin-top: -10px;
}
.h28{
    text-align: left;
    margin-top: 10px;
    padding-left: 210px;
    font-size: 26px;
}
.h29{
    text-align: left;
    margin-top: 10px;
    padding-left: 165px;
    font-size: 26px;
}