.form{
  height: 100vh;
  background-image: url('Background.jpg');
}
.img1{
  height: 50px;
  width: 50px;
  float: left;
  margin-left: 70px;
  margin-top: 45px;
  padding-left: 25px;
  background-image: url('https://cdn-icons-png.flaticon.com/128/54/54476.png');
  background-size: cover;
  border: 0px;
  border-radius: 50px;
}
.h11{
  font-size: 50px;
  padding-left: 200px;
  text-align: left;
}
.h12{
  font-size: 25px;
  padding-left: 120px;
  text-align: left;
}
.div1{
  background-color: rgb(251, 156, 172);
  height: 70px;
  font-size: 40px;
  text-align: left;
  padding-left: 100px;
  padding-top: 10px;
  margin-top: 20px;
}
.img2{
  width: 80px;
  float: left;
  padding-left: 300px;
}
.img3{
  width: 80px;
  float: left;
  padding-left:150px;
}
.img4{
  width: 80px;
  float: left;
  padding-left: 150px;
}
.h21{
  font-size: 30px;
  text-align: left;
  margin-left: -500px;
  padding-left: 200px;
}
.b2{
  background-color: rgb(251, 156, 172);
  height: 70px;
  width: 1000px;
  font-size: 40px;
  text-align: left;
  border: none;
}
.h13{
  text-align: left;
  margin-left: 295px;
}